.booking-card {
    border-radius: 20px;
    background: #fff;
    border: 2px solid #FFB6C1;
    box-shadow: 0 8px 20px rgba(255, 182, 193, 0.4);
    padding: 30px;
}

.booking-title {
    font-weight: bold;
    color: #FF6185;
    font-size: 1.8rem;
}

h5:has(.section-icon) {
    color: #FF6185;
    font-weight: 600;
    margin-top: 30px;
}

label {
    font-weight: 600;
    color: #444;
}

.form-control,
.form-select {
    border-radius: 10px;
    border: 1px solid #FFB6C1;
}

.btn-pink {
    background-color: #FFB6C1;
    color: black;
    font-weight: bold;
    padding: 12px;
    border-radius: 12px;
    border: none;
    transition: background-color 0.3s ease;
}

    .btn-pink:hover {
        background-color: #FF6185;
        color: white;
    }

#calculatedPrice {
    color: #FF6185;
    font-weight: bold;
}

.section-icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

.btn-secondary {
    background-color: #FFB6C1;
    color: black;
    font-weight: bold;
    padding: 12px;
    border-radius: 12px;
    border: none;
    transition: background-color 0.3s ease;
}

    .btn-secondary:hover {
        background-color: #FF6185;
        color: white;
    }

.btn-warning {
    background-color: #E6A500;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

    .btn-warning:hover {
        background-color: #CC8C00;
        color: #fff;
    }

.btn-danger {
    background-color: #FF3B3B;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

    .btn-danger:hover {
        background-color: #D92D2D;
        color: white;
    }
