@model IEnumerable<DoAnCoSo.Models.Category>

@{
    int maxPerColumn = 5; // số dòng mỗi cột
    var list = Model.ToList();
}

<div class="category-columns">
    @for (int i = 0; i < list.Count; i += maxPerColumn)
    {
        <ul class="level1">
            @foreach (var item in list.Skip(i).Take(maxPerColumn))
            {
                <li class="level2">
                    <a asp-controller="Product"
                       asp-action="ProductsByCategory"
                       asp-route-categoryName="@item.Name">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
    }
</div>
<style>

    .category-columns {
        display: flex;
        gap: 40px;
    }

    .level1 {
        padding-left: 0;
    }

    .level2 {
        list-style: none;
        margin-bottom: 6px;
    }

</style>